<style type="text/css">
    #wrapper{
        margin-top: 2rem;
        
    }

    h2{
        margin-top: 2rem;
         margin-bottom: 2rem;
    }
</style>

<h2>Control dashboard</h2>

<div class="row">

    <div class="col-md-7 col-sm-12 my-auto" style="background-color:#fff;">

        <ul class="nav list-inline pt-4 pr-3 pb-4 pl-3" style="vertical-align: middle">
            <li class="list-inline-item pt-0 pr-3 pb-3 pl-0" style="color:#f7f7f9;">
                <a class="btn btn-success btn-lg">
                    <i class="fa fa-plus" aria-hidden="true" style="margin-right: 2px;"></i>Project</a>
            </li>
            <li class="list-inline-item">
                <p class="text-muted font-weight-bold" style="float:right;">*After creating a project, traffic will be sent to
                    <br>your site when you earn points.</p>
            </li>
        </ul>

    </div>
    <div class="col-md-5 col-sm-12 my-auto">
        <div style="background-color: #fff;">
            <ul class="nav list-inline">
                <li class="list-inline-item pt-3 pr-3 pb-3 pl-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" style="max-height:85px;"
                        class="rounded-circle mx-auto d-block" alt="profile_picture">
                </li>
                <li class="list-inline-item my-auto pl-2">
                    <h6 class="text-muted font-weight-bold">Account Name</h6>
                    <h6 class="text-muted font-weight-bold">My Points:10032</h6>
                </li>
            </ul>
        </div>

    </div>

</div>

<div class="row" id="wrapper" style="background-color:#f4f4f5;">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>

                    <th>Address</th>
                    <th>Traffic Received</th>
                    <th>Traffic Received Today</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr style="padding:5px;">

                    <td>
                        http://google.com
                    </td>
                    <td>
                        <h3 class="text-success"> 10021</h3>
                    </td>
                    <td>
                        <h3 class="text-success"> 20</h3>
                    </td>
                    
                    <td>
                        <a><i class="fa fa-pause fa-2x" aria-hidden="true"></i> </a>
                        <a><i class="fa fa-play fa-2x pl-2 pr-2" aria-hidden="true"></i> </a>
                        <a><i class="fa fa-trash fa-2x" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="clearfix hidden-sm-up"></div>
    
</div>
<div style="color:#fff" class="pt-4">

        <a class="btn btn-primary float-left font-weight-bold">Logout</a>


        <a class="btn btn-primary float-right font-weight-bold">Earn Points</a>

</div>
